.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup

__pycache__/
hangman_words.cpython-311.pyc
appv1/
etc/
resume-css/

old-config.py
entry-points.py

app local/

Diagram.svg
diagram.xml
Hangman.svg

docker-run-cmd

terraform-old/