html, body {
  font-family: sans-serif;
  background-color: rgb(237, 237, 237);
}

body {
  height: 100vh;
  margin: 0;
}

h1, h2, h3 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.container {
  width: 650px;
  height: 650px;
  border: 2.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
}

.left-right-container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.letter-category-container, .start-new-game-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-pad {
  padding-left: 2em;
  scale: 1.5;
}

.text-pad {
  padding-left: 1em;
  text-align: center;
}

.header1 {
  text-align: center;
  display: block;
  text-decoration: underline;
}

.header {
  text-align: center;
  display: block;
}

.form-category {
  padding-top: 10px;
}

.category-button {
  display: inline-block;
  padding: 6px 12px;
  margin: 3px;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid #cf8a05;
  border-radius: 4px;
  min-width: 152px;
  max-width: 152px;
  background-color: rgb(255, 212, 133);
  font-family: sans-serif;
}

.start-button {
    display: inline-block;
    margin: 3px;
    text-align: center;
    font-size: 2em;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #cf8a05;
    border-radius: 4px;
    min-width: 300px;
    min-height: 75px;
    background-color: rgb(255, 212, 133);
    font-family: sans-serif;
  }

.letter-button {
    display: inline-block;
    padding: 6px 6px;
    margin: .10em;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid #cf8a05;
    border-radius: 4px;
    min-width: 40px;
    background-color: rgb(255, 212, 133);
    padding-top: .2em;
    padding-bottom: .2em;
    font-family: sans-serif;
  }

.letter-button:disabled {
    opacity: 0.5; /* reduces opacity of element */
    cursor: not-allowed; /* changes cursor to not-allowed */
    pointer-events: none; /* disables pointer events, preventing further clicks */
    background-color: rgb(147, 147, 147);
  }

.new-game-button {
    display: inline-block;
    padding: 6px 12px;
    margin: 3px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #cf8a05;
    border-radius: 4px;
    min-width: 300px;
    background-color: rgb(255, 212, 133);
    font-family: sans-serif;
  }


.guessed-letters {
    text-align: left;
    padding-left: 30px;
}