<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="header-container">
            <div class="logo-text">
                <img class="logo" id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
                <h2 class="header">Choose A Category</h2>
            </div>
            {% if logged_in %}
            <div class="logout">
                <a id="openLogoutModal" class="logout-button">
                    <img class="button-icon" src="/static/img/logout.png" />
                </a>
            </div>
            {% else %}
            <div class="logout">
                <a id="openLogoutModal" class="logout-button">
                    <img class="button-icon" src="/static/img/login.png" />
                </a>
            </div>
            {% endif %}
        </div>

        <div id="logoutModal" class="login-popup-overlay">
            <div class="login-popup">
                <div class="logout-section">
                    <span class="close">&times;</span>
                    {% if logged_in %}
                    <h2>Logout</h2>
                    <p>Are you sure you want to log out?</p>
                    <div class="button-container2">
                        <button class="confirm-logout">Yes, Logout</button>
                        <button class="cancel-logout">Cancel</button>
                    </div>
                    {% else %}
                    <h2>Login or Register</h2>
                    <div class="button-container2">
                        <button id="openLoginModal" class="login-button2">Login</button>
                        <button id="openRegisterModal" class="register-button">Register</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="loginModal" class="login-popup-overlay" style="display: none;">
            <div class="login-popup">
                <div class="login-section">
                    <span class="close">&times;</span>
                    <h2>Login</h2>
                    <p>Please enter your username and password to continue.</p>
                    <form method="POST">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" name="login">Login</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="registerModal" class="login-popup-overlay" style="display: none;">
            <div class="login-popup">
                <div class="register-section">
                    <span class="close">&times;</span>
                    <h2>Register</h2>
                    <p>Create a username and password to play.</p>
                    <form method="POST" class="signup-form">
                        <input type="text" name="new_username" placeholder="Username">
                        <input type="password" name="new_password" placeholder="Password">
                        <button type="submit" name="register">Register</button>
                    </form>
                </div>
            </div>
        </div>

        <script>
            window.onload = function() {
                // Get the modal
                var modal = document.getElementById("logoutModal");
    
                // Get the button that opens the modal
                var btn = document.getElementById("openLogoutModal");
    
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
    
                // Get the cancel button
                var cancelBtn = document.getElementsByClassName("cancel-logout")[0];
    
                // When the user clicks the button, open the modal 
                btn.onclick = function() {
                  modal.style.display = "flex";
                }
    
                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                  modal.style.display = "none";
                }
    
                // When the user clicks on cancel button, close the modal
                cancelBtn.onclick = function() {
                  modal.style.display = "none";
                }
    
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }

                document.querySelector('.confirm-logout').addEventListener('click', function() {
                    window.location.href = "{{ url_for('logout') }}";
                });
            }
        </script>

        <script>
            // Login and Register buttons
            var loginButton = document.querySelector("#openLoginModal");
            var registerButton = document.querySelector("#openRegisterModal");

            // Login and Register modals
            var loginModal = document.querySelector("#loginModal");
            var registerModal = document.querySelector("#registerModal");

            // Existing Logout modal and its related elements
            var logoutModal = document.querySelector("#logoutModal");
            var logoutButton = document.querySelector("#openLogoutModal");
            var logoutCloseButton = document.querySelector("#logoutModal .close");
            var logoutCancelButton = document.querySelector("#logoutModal .cancel-logout");

            // get all elements with class 'close'
            var closeButtons = document.getElementsByClassName("close");

            // iterate over the array and add a click event listener to each close button
            for(var i = 0; i < closeButtons.length; i++) {
                closeButtons[i].onclick = function() {
                    // Get the parent 'login-popup-overlay' of this close button and hide it
                    this.parentElement.parentElement.parentElement.style.display = 'none';
                }
            }

            // Open the Login modal
            loginButton.onclick = function() {
                loginModal.style.display = "flex";
            };

            // Open the Register modal
            registerButton.onclick = function() {
                loginModal.style.display = "none";
                registerModal.style.display = "flex";
            };

            // Existing Logout modal functionality
            logoutButton.onclick = function() {
                logoutModal.style.display = "flex";
            };

            logoutCloseButton.onclick = function() {
                logoutModal.style.display = "none";
            };

            logoutCancelButton.onclick = function() {
                logoutModal.style.display = "none";
            };

            // When the user clicks anywhere outside of any modal, close it
            window.onclick = function(event) {
                if (event.target == loginModal || event.target == registerModal || event.target == logoutModal) {
                    event.target.style.display = "none";
                }
            };

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
            modal.style.display = "none";
            }

        </script>

        <div class="left-right-container">
        
            <div class="left-container">
                <img class="img-pad" id="hangman-image" src="{{ url_for('static', filename='img/stage0.png') }}">
            </div>
            
            <div class="right-container">

                {% if stats %}
                        <table>
                            <tbody>
                                <tr>
                                    <td>Wins:</td>
                                    <td class="cell-value">{{ stats[1] }}</td>
                                </tr>
                                <tr>
                                    <td>Losses:</td>
                                    <td class="cell-value">{{ stats[2] }}</td>
                                </tr>
                                <tr>
                                    <td>W/L Ratio:</td>
                                    <td class="cell-value">{{ stats[3] }}</td>
                                </tr>
                                <tr>
                                    <td>Current Win Streak:</td>
                                    <td class="cell-value">{{ stats[4] }}</td>
                                </tr>
                                <tr>
                                    <td>Longest Win Streak:</td>
                                    <td class="cell-value">{{ stats[5] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
            </div>
            
        </div>

        <div class="letter-category-container">
            <form class="form-category" method="POST" action="{{ url_for('category') }}">
                <button class="category-button" type="submit" name="category" value="Alcohol">
                    <img class="button-icon" src="/static/img/alcohol.png" />
                    <span class="button-text">Alcohol</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Animals">
                    <img class="button-icon" src="/static/img/animals.png" />
                    <span class="button-text">Animals</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Books">
                    <img class="button-icon" src="/static/img/books.png" />
                    <span class="button-text">Books</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Brands">
                    <img class="button-icon" src="/static/img/brands.png" />
                    <span class="button-text">Brands</span>
                </button><br/>
                
                <button class="category-button" type="submit" name="category" value="Cities">
                    <img class="button-icon" src="/static/img/cities.png" />
                    <span class="button-text">Cities</span>
                </button>

                <button class="category-button" type="submit" name="category" value="Countries">
                    <img class="button-icon" src="/static/img/countries.png" />
                    <span class="button-text">Countries</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Fruits">
                    <img class="button-icon" src="/static/img/fruits.png" />
                    <span class="button-text">Fruits</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Instruments">
                    <img class="button-icon" src="/static/img/instruments.png" />
                    <span class="button-text">Instruments</span>
                </button><br/>
                
                <button class="category-button" type="submit" name="category" value="Movies">
                    <img class="button-icon" src="/static/img/movies.png" />
                    <span class="button-text">Movies</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Professions">
                    <img class="button-icon" src="/static/img/professions.png" />
                    <span class="button-text">Professions</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Sports">
                    <img class="button-icon" src="/static/img/sports.png" />
                    <span class="button-text">Sports</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="TV Shows">
                    <img class="button-icon" src="/static/img/tv-shows.png" />
                    <span class="button-text">TV Shows</span>
                </button>                
                
            </form>

        </div>

    </div>
</body>
</html>
