<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        
        <div class="header-container">
            <img class="logo" id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
            <h2 class="header">Choose A Category</h2>
        </div>

        <div class="left-right-container">
        
            <div class="left-container">
                <img class="img-pad" id="hangman-image" src="{{ url_for('static', filename='img/stage0.png') }}">
            </div>
            
            <div class="right-container">

                {% if stats %}
                <table>
                    <tbody>
                        <tr>
                            <td>Wins:</td>
                            <td class="cell-value">{{ stats[0][1] }}</td>
                        </tr>
                        <tr>
                            <td>Losses:</td>
                            <td class="cell-value">{{ stats[0][2] }}</td>
                        </tr>
                        <tr>
                            <td>W/L Ratio:</td>
                            <td class="cell-value">{{ stats[0][3] }}</td>
                        </tr>
                        <tr>
                            <td>Current Win Streak:</td>
                            <td class="cell-value">{{ stats[0][4] }}</td>
                        </tr>
                        <tr>
                            <td>Longest Win Streak:</td>
                            <td class="cell-value">{{ stats[0][5] }}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            
        </div>

        <div class="letter-category-container">
            <form class="form-category" method="POST" action="{{ url_for('category') }}">
                <button class="category-button" type="submit" name="category" value="Alcohol">
                    <img class="button-icon" src="/static/img/alcohol.png" />
                    <span class="button-text">Alcohol</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Animals">
                    <img class="button-icon" src="/static/img/animals.png" />
                    <span class="button-text">Animals</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Books">
                    <img class="button-icon" src="/static/img/books.png" />
                    <span class="button-text">Books</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Brands">
                    <img class="button-icon" src="/static/img/brands.png" />
                    <span class="button-text">Brands</span>
                </button><br/>
                
                <button class="category-button" type="submit" name="category" value="Cities">
                    <img class="button-icon" src="/static/img/cities.png" />
                    <span class="button-text">Cities</span>
                </button>

                <button class="category-button" type="submit" name="category" value="Countries">
                    <img class="button-icon" src="/static/img/countries.png" />
                    <span class="button-text">Countries</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Fruits">
                    <img class="button-icon" src="/static/img/fruits.png" />
                    <span class="button-text">Fruits</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Instruments">
                    <img class="button-icon" src="/static/img/instruments.png" />
                    <span class="button-text">Instruments</span>
                </button><br/>
                
                <button class="category-button" type="submit" name="category" value="Movies">
                    <img class="button-icon" src="/static/img/movies.png" />
                    <span class="button-text">Movies</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Professions">
                    <img class="button-icon" src="/static/img/professions.png" />
                    <span class="button-text">Professions</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="Sports">
                    <img class="button-icon" src="/static/img/sports.png" />
                    <span class="button-text">Sports</span>
                </button>
                
                <button class="category-button" type="submit" name="category" value="TV Shows">
                    <img class="button-icon" src="/static/img/tv-shows.png" />
                    <span class="button-text">TV Shows</span>
                </button>                
                
            </form>

        </div>

    </div>
</body>
</html>
