<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hangman - Play</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class="container">
    
    <div class="header-container">
      <img class="logo" id="logo" src="{{ url_for('static', filename='img/logo.png') }}">    
      <h2 class="header">{{ category }}</h2>
    </div>
  
    <div class="left-right-container">
        
      <div class="left-container">
        <img class="img-pad" id="hangman-image" src="{{ url_for('static', filename='img/stage0.png') }}">

        <script>
          window.onload = function() {
            var lives = {{ lives }};
              var hangmanImage = document.getElementById("hangman-image");
            
              if (lives == 6) {
                hangmanImage.src = "{{ url_for('static', filename='img/stage0.png') }}";
              } else if (lives == 5) {
                hangmanImage.src = "{{ url_for('static', filename='img/stage1.png') }}";
              } else if (lives == 4) {
                hangmanImage.src = "{{ url_for('static', filename='img/stage2.png') }}";
              } else if (lives == 3) {
                hangmanImage.src = "{{ url_for('static', filename='img/stage3.png') }}";
              } else if (lives == 2) {
                hangmanImage.src = "{{ url_for('static', filename='img/stage4.png') }}";
              } else if (lives == 1) {
                hangmanImage.src = "{{ url_for('static', filename='img/stage5.png') }}";
              } else if (lives == 0){
                hangmanImage.src = "{{ url_for('static', filename='img/stage6.png') }}";
              } 
          }
        </script>
      </div>
      <div class="right-container">
        <h3 class="text-pad">
          <p id="hidden-word"></p>
        </h3>
        
        <script>
          // Get the hidden word and replace '\u00A0' with spaces
          var hiddenWord = "{{ hidden_word|join('')|replace('\u00A0', ' ') }}";
        
          // Split the hidden word by multiple spaces
          var words = hiddenWord.split(/ {2,}/);
        
          // Generate the HTML for displaying the hidden word with line breaks
          var html = words.join("<br>");
        
          // Set the generated HTML as the content of the 'hidden-word' element
          document.getElementById("hidden-word").innerHTML = html;
        </script>
        
        

        <h3><p class="guessed-letters">Guessed letters: {{ ' '.join(incorrect_letters) }}</p></h3>
      </div>
    </div>

    <div class="letter-container">
      
        <form id="letter-form" method="POST" action="{{ url_for('play') }}">
          {% for letter in 'ABCDEFGHIJKLM' %}
            <button class="letter-button" name="letter" value="{{ letter }}">{{ letter }}</button>
          {% endfor %}<br/>
          {% for letter in 'NOPQRSTUVWXYZ' %}
            <button class="letter-button" name="letter" value="{{ letter }}">{{ letter }}</button>
          {% endfor %}
        </form>

        <div class="button-container">
          <button class="new-game-stats-button" id="newGameButton">NEW GAME</button>
          <button class="new-game-stats-button" id="statsButton">STATS</button>
        </div>

    </div>

    <div id="statsPopup" class="popup">
      <span class="close-button" id="closeButtonStats">&times;</span>
      <h3>Your Stats:</h3>
      {% if stats %}
      <table>
          <tbody>
              <tr>
                  <td>Wins:</td>
                  <td class="cell-value">{{ stats[0][1] }}</td>
              </tr>
              <tr>
                  <td>Losses:</td>
                  <td class="cell-value">{{ stats[0][2] }}</td>
              </tr>
              <tr>
                  <td>W/L Ratio:</td>
                  <td class="cell-value">{{ stats[0][3] }}</td>
              </tr>
              <tr>
                  <td>Current Win Streak:</td>
                  <td class="cell-value">{{ stats[0][4] }}</td>
              </tr>
              <tr>
                  <td>Longest Win Streak:</td>
                  <td class="cell-value">{{ stats[0][5] }}</td>
              </tr>
          </tbody>
      </table>
      {% else %}
      <p>No stats available</p>
      {% endif %}
    </div>
    <div id="overlayStats" class="overlay"></div>

    
    <div id="newGamePopup" class="new-game-popup">
      <span class="close-button" id="closeButton">&times;</span>
      <h3>Are you sure?</h3>
      <p>If you start a new game, your current game will result in a loss.</p>
      <div class="button-container">
        <button class="new-game-stats-button2" id="confirmNewGameButton" name="new_game">New Game</button>
        <button class="new-game-stats-button2" id="cancelNewGameButton">Cancel</button>
      </div>
    </div>
    <div id="overlay" class="overlay"></div>

    
    <script>
      var newGameButton = document.getElementById('newGameButton');
      var newGamePopup = document.getElementById('newGamePopup');
      var confirmNewGameButton = document.getElementById('confirmNewGameButton');
      var cancelNewGameButton = document.getElementById('cancelNewGameButton');
      var closeButton = document.getElementById('closeButton');
      var overlay = document.getElementById('overlay');
    
      newGameButton.addEventListener('click', function() {
        newGamePopup.classList.add('show');
        overlay.classList.add('show');
      });
    
      confirmNewGameButton.addEventListener('click', function() {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{{ url_for('play') }}";
    
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'new_game';
        input.value = 'true';
    
        form.appendChild(input);
        document.body.appendChild(form);
    
        form.submit();
      });
    
      cancelNewGameButton.addEventListener('click', function() {
        newGamePopup.classList.remove('show');
        overlay.classList.remove('show');
      });
    
      closeButton.addEventListener('click', function() {
        newGamePopup.classList.remove('show');
        overlay.classList.remove('show');
      });
    
      overlay.addEventListener('click', function() {
        newGamePopup.classList.remove('show');
        overlay.classList.remove('show');
      });
    
      var statsButton = document.getElementById('statsButton');
      var statsPopup = document.getElementById('statsPopup');
      var overlayStats = document.getElementById('overlayStats');
    
      statsButton.addEventListener('click', function() {
          statsPopup.classList.add('show');
          overlayStats.classList.add('show');
      });
    
      var closeButtonStats = document.querySelector('#closeButtonStats');
      closeButtonStats.addEventListener('click', function() {
          statsPopup.classList.remove('show');
          overlayStats.classList.remove('show');
      });
    
      overlayStats.addEventListener('click', function() {
          statsPopup.classList.remove('show');
          overlayStats.classList.remove('show');
      });
    </script>

</body>
</html>
