<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hangman - Play</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class="container">

    <div class="header-container">
      <div class="logo-text">
          <img class="logo" id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
          <h2 class="header">{{ category }}</h2>
      </div>
      {% if logged_in %}
          <div class="logout">
              <a id="openLogoutModal" class="logout-button">
                  <img class="button-icon" src="/static/img/logout.png" />
              </a>
          </div>
      {% else %}
          <div class="logout">
              <a id="openLogoutModal" class="logout-button">
                  <img class="button-icon" src="/static/img/login.png" />
              </a>
          </div>
      {% endif %}
    </div>

    <div id="logoutModal" class="login-popup-overlay">
      <div class="login-popup">
          <div class="logout-section">
              <span class="close">&times;</span>
              {% if logged_in %}
              <h2>Logout</h2>
              <p>Are you sure you want to log out?</p>
              <div class="button-container2">
                  <button class="confirm-logout">Yes, Logout</button>
                  <button class="cancel-logout">Cancel</button>
              </div>
              {% else %}
              <h2>Login or Register</h2>
              <div class="button-container2">
                  <button id="openLoginModal" class="login-button2">Login</button>
                  <button id="openRegisterModal" class="register-button">Register</button>
              </div>
              {% endif %}
          </div>
      </div>
  </div>

  <div id="loginModal" class="login-popup-overlay" style="display: none;">
      <div class="login-popup">
          <div class="login-section">
              <span class="close">&times;</span>
              <h2>Login</h2>
              <p>Please enter your username and password to continue.</p>
              <form method="POST" action="{{ url_for('auth.login') }}">
                  <input type="text" name="username" placeholder="Username">
                  <input type="password" name="password" placeholder="Password">
                  <button type="submit" name="login">Login</button>
              </form>
          </div>
      </div>
  </div>
  
  <div id="registerModal" class="login-popup-overlay" style="display: none;">
      <div class="login-popup">
          <div class="register-section">
              <span class="close">&times;</span>
              <h2>Register</h2>
              <p>Create a username and password to play.</p>
              <form method="POST" action="{{ url_for('auth.register') }}">
                  <input type="text" name="new_username" placeholder="Username">
                  <input type="password" name="new_password" placeholder="Password">
                  <button type="submit" name="register">Register</button>
              </form>
          </div>
      </div>
  </div>
  
    <div class="left-right-container">
        
      <div class="left-container">
        <img class="img-pad" id="hangman-image" src="{{ url_for('static', filename='img/stage0.png') }}">

      </div>
      
      <div class="right-container">
        <h3 class="text-pad">
          <p id="hidden-word" class="hangman-answer" style="font-family: monospace; font-size: 1.4em; white-space: normal;"></p>
        </h3>

        <h3><p class="guessed-letters"></p></h3>
      </div>
    </div>

    <div class="letter-container">
      
      <form id="letter-form" method="POST" action="{{ url_for('play') }}">
        {% for letter in 'ABCDEFGHIJKLM' %}
          <button class="letter-button" name="letter" value="{{ letter }}">{{ letter }}</button>
        {% endfor %}<br/>
        {% for letter in 'NOPQRSTUVWXYZ' %}
          <button class="letter-button" name="letter" value="{{ letter }}">{{ letter }}</button>
        {% endfor %}
      </form>

        <div class="button-container">
          <button class="new-game-stats-button" id="newGameButton">NEW GAME</button>
          <button class="new-game-stats-button" id="statsButton">STATS</button>
        </div>

    </div>

    <div id="statsPopup" class="stats-popup">
      <span class="close-button" id="closeButtonStats">&times;</span>
      <h3>Your Stats:</h3>
        {% if stats %}
          <table>
            <tbody>
              <tr>
                <td>Wins:</td>
                <td class="cell-value">{{ stats[1] }}</td>
              </tr>
              <tr>
                <td>Losses:</td>
                <td class="cell-value">{{ stats[2] }}</td>
              </tr>
              <tr>
                <td>W/L Ratio:</td>
                <td class="cell-value">{{ stats[3] }}</td>
              </tr>
              <tr>
                <td>Current Win Streak:</td>
                <td class="cell-value">{{ stats[4] }}</td>
              </tr>
              <tr>
                <td>Longest Win Streak:</td>
                <td class="cell-value">{{ stats[5] }}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>Please login or register if you would like to track your stats.</p>
        {% endif %}
    </div>
    <div id="overlayStats" class="overlay"></div>

    
    <div id="newGamePopup" class="new-game-popup">
      <span class="close-button" id="closeButton">&times;</span>
      <h3>Are you sure?</h3>
      {% if logged_in %}
      <p>If you start a new game, your current game will result in a loss.</p>
      {% else %}
      <p>If you start a new game you will lose your progress.</p>
      {% endif %}
      <div class="button-container">
        <button class="new-game-stats-button2" id="confirmNewGameButton" name="new_game">New Game</button>
        <button class="new-game-stats-button2" id="cancelNewGameButton">Cancel</button>
      </div>
    </div>
    <div id="overlay" class="overlay"></div>

    <script>
      window.onload = function() {
          // Get the modal
          var modal = document.getElementById("logoutModal");

          // Get the button that opens the modal
          var btn = document.getElementById("openLogoutModal");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // Get the cancel button
          var cancelBtn = document.getElementsByClassName("cancel-logout")[0];

          // When the user clicks the button, open the modal 
          btn.onclick = function() {
            modal.style.display = "flex";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks on cancel button, close the modal
          cancelBtn.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }

          document.querySelector('.confirm-logout').addEventListener('click', function() {
              window.location.href = "{{ url_for('auth.logout') }}";
          });
      }
  </script>

  <script>
      // Login and Register buttons
      var loginButton = document.querySelector("#openLoginModal");
      var registerButton = document.querySelector("#openRegisterModal");

      // Login and Register modals
      var loginModal = document.querySelector("#loginModal");
      var registerModal = document.querySelector("#registerModal");

      // Existing Logout modal and its related elements
      var logoutModal = document.querySelector("#logoutModal");
      var logoutButton = document.querySelector("#openLogoutModal");
      var logoutCloseButton = document.querySelector("#logoutModal .close");
      var logoutCancelButton = document.querySelector("#logoutModal .cancel-logout");

      // get all elements with class 'close'
      var closeButtons = document.getElementsByClassName("close");

      // iterate over the array and add a click event listener to each close button
      for(var i = 0; i < closeButtons.length; i++) {
          closeButtons[i].onclick = function() {
              // Get the parent 'login-popup-overlay' of this close button and hide it
              this.parentElement.parentElement.parentElement.style.display = 'none';
          }
      }

      // Open the Login modal
      loginButton.onclick = function() {
          loginModal.style.display = "flex";
      };

      // Open the Register modal
      registerButton.onclick = function() {
          loginModal.style.display = "none";
          registerModal.style.display = "flex";
      };

      // Existing Logout modal functionality
      logoutButton.onclick = function() {
          logoutModal.style.display = "flex";
      };

      logoutCloseButton.onclick = function() {
          logoutModal.style.display = "none";
      };

      logoutCancelButton.onclick = function() {
          logoutModal.style.display = "none";
      };

      // When the user clicks anywhere outside of any modal, close it
      window.onclick = function(event) {
          if (event.target == loginModal || event.target == registerModal || event.target == logoutModal) {
              event.target.style.display = "none";
          }
      };

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
      modal.style.display = "none";
      }

  </script>

    <script>
      window.onload = function() {
          var lives = {{ lives }};
          var incorrectLetters = "{{ ' '.join(incorrect_letters) }}".split(' ');
          var correctLetters = "{{ ' '.join(correct_letters) }}".split(' ');

          var hangmanImage = document.getElementById("hangman-image");
          var hiddenWordElement = document.getElementById("hidden-word");

          // Update the hangman image based on the number of lives
          var hangmanImages = [
              "{{ url_for('static', filename='img/stage0.png') }}",
              "{{ url_for('static', filename='img/stage1.png') }}",
              "{{ url_for('static', filename='img/stage2.png') }}",
              "{{ url_for('static', filename='img/stage3.png') }}",
              "{{ url_for('static', filename='img/stage4.png') }}",
              "{{ url_for('static', filename='img/stage5.png') }}",
              "{{ url_for('static', filename='img/stage6.png') }}",
          ];
          hangmanImage.src = hangmanImages[6 - lives];

          // Update the hidden word displayed
          var hiddenWord = "{{ hidden_word|join('')|replace('\u00A0', ' ') }}";
          var maxLineLength = 32;  // Update this value to match your specific case
          var words = hiddenWord.split('   '); // Splitting by three spaces.
          var lines = [];
          var currentLine = '';

          words.forEach(function(word, index) {
              var space = index == 0 ? '' : '&nbsp;&nbsp;&nbsp;'; // Adding three non-breaking spaces before the word except the first word.
              var formattedWord = "";

              for(var i=0; i<word.length; i++) {
                  if(word[i] !== "_" && word[i] !== " ") {
                      formattedWord += '<span class="underline">' + word[i] + '</span>';
                  } else {
                      formattedWord += word[i];
                  }
              }

              if ((currentLine.length + formattedWord.length + space.length) > maxLineLength) {
                  // The word doesn't fit on the current line, so start a new line.
                  lines.push(currentLine);
                  currentLine = formattedWord;
              } else {
                  // The word fits on the current line, so add it.
                  currentLine += space + formattedWord;
              }
          });

          // Don't forget the last line.
          if (currentLine.length > 0) {
              lines.push(currentLine);
          }

          document.getElementById("hidden-word").innerHTML = lines.join('<br>');

          // Disable the guessed letters
          var guessedLetters = incorrectLetters.concat(correctLetters);
          guessedLetters.forEach(function(letter) {
              var buttons = document.getElementsByName('letter');
              for (var i = 0; i < buttons.length; i++) {
                  if (buttons[i].value == letter) {
                      buttons[i].disabled = true;
                      buttons[i].classList.add('guessed');  // Add guessed class for styling
                  }
              }
          });
      };

      var newGameButton = document.getElementById('newGameButton');
      var newGamePopup = document.getElementById('newGamePopup');
      var confirmNewGameButton = document.getElementById('confirmNewGameButton');
      var cancelNewGameButton = document.getElementById('cancelNewGameButton');
      var closeButton = document.getElementById('closeButton');
      var overlay = document.getElementById('overlay');
    
      newGameButton.addEventListener('click', function() {
        newGamePopup.classList.add('show');
        overlay.classList.add('show');
      });
    
      confirmNewGameButton.addEventListener('click', function() {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{{ url_for('play') }}";
    
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'new_game';
        input.value = 'true';
    
        form.appendChild(input);
        document.body.appendChild(form);
    
        form.submit();
      });
    
      cancelNewGameButton.addEventListener('click', function() {
        newGamePopup.classList.remove('show');
        overlay.classList.remove('show');
      });
    
      closeButton.addEventListener('click', function() {
        newGamePopup.classList.remove('show');
        overlay.classList.remove('show');
      });
    
      overlay.addEventListener('click', function() {
        newGamePopup.classList.remove('show');
        overlay.classList.remove('show');
      });
    
      var statsButton = document.getElementById('statsButton');
      var statsPopup = document.getElementById('statsPopup');
      var overlayStats = document.getElementById('overlayStats');
    
      statsButton.addEventListener('click', function() {
          statsPopup.classList.add('show');
          overlayStats.classList.add('show');
      });
    
      var closeButtonStats = document.querySelector('#closeButtonStats');
      closeButtonStats.addEventListener('click', function() {
          statsPopup.classList.remove('show');
          overlayStats.classList.remove('show');
      });
    
      overlayStats.addEventListener('click', function() {
          statsPopup.classList.remove('show');
          overlayStats.classList.remove('show');
      });
    </script>

</body>
</html>
