<!DOCTYPE html>
<html>
  <head>
    <title>You Won!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="container">

        <div class="header-container">
          <img class="logo" id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
            <h2 class="header">You Win!</h2>
        </div>

        <div class="left-right-container">
        
            <div class="left-container">
                <img class="img-pad" id="hangman-image" src="{{ url_for('static', filename='img/stage0.png') }}">

                <script>
                    window.onload = function() {
                        var lives = {{ lives }};
                        var hangmanImage = document.getElementById("hangman-image");
                        
                        if (lives == 6) {
                            hangmanImage.src = "{{ url_for('static', filename='img/stage0.png') }}";
                        } else if (lives == 5) {
                            hangmanImage.src = "{{ url_for('static', filename='img/stage1.png') }}";
                        } else if (lives == 4) {
                            hangmanImage.src = "{{ url_for('static', filename='img/stage2.png') }}";
                        } else if (lives == 3) {
                            hangmanImage.src = "{{ url_for('static', filename='img/stage3.png') }}";
                        } else if (lives == 2) {
                            hangmanImage.src = "{{ url_for('static', filename='img/stage4.png') }}";
                        } else if (lives == 1) {
                            hangmanImage.src = "{{ url_for('static', filename='img/stage5.png') }}";
                        } else if (lives == 0){
                            hangmanImage.src = "{{ url_for('static', filename='img/stage6.png') }}";
                        } 
                    }
                </script>

            </div>
            
            <div class="right-container">
                
                <h3 class="text-pad"><p>The answer was {{ word }}.</p></h3>
        
                {% if stats %}
                  <table>
                    <tbody>
                      <tr>
                        <td>Wins:</td>
                        <td class="cell-value">{{ stats[1] }}</td>
                      </tr>
                      <tr>
                        <td>Losses:</td>
                        <td class="cell-value">{{ stats[2] }}</td>
                      </tr>
                      <tr>
                        <td>W/L Ratio:</td>
                        <td class="cell-value">{{ stats[3] }}</td>
                      </tr>
                      <tr>
                        <td>Current Win Streak:</td>
                        <td class="cell-value">{{ stats[4] }}</td>
                      </tr>
                      <tr>
                        <td>Longest Win Streak:</td>
                        <td class="cell-value">{{ stats[5] }}</td>
                      </tr>
                    </tbody>
                  </table>
                {% endif %}
                
            </div>
            
        </div>

        <div class="start-new-game-container">
            <form action="/category" method="post">
                <button class="start-button" type="submit">PLAY AGAIN</button>
            </form>
        </div>

    </div>
  </body>
</html>
